<div class="surface-0 bg-aqua flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-4">
    <div class="text-center mb-5">
      <img src="assets/images/hyper.svg" alt="Image" height="50" class="mb-2 mt-3 cursor-pointer">
      <div class="text-800 text-xl font-medium mb-2">Bienvenido <a class="cursor-pointer no-underline text-blue-500">Docs.</a></div>
      <span class="text-sm line-height-2">¿Ya tienes una cuenta?</span>
      <a class="text-sm no-underline ml-2 text-blue-500 cursor-pointer">Inicia sesión</a>
    </div>

    <div [formGroup]="formRegister">
      <label for="name" class="block text-sm font-medium mb-2">Nombre completo</label>
      <input pInputText id="name" type="text" class="w-full p-inputtext-sm" autofocus formControlName="nombres" />
      <small class="p-error block mb-3" *ngIf="hasValidControl('nombres')">Campo nombres obligatorio</small>

      <label for="email" class="block text-sm font-medium mt-3">Correo electronico</label>
      <input pInputText id="email" type="text" class="w-full p-inputtext-sm" formControlName="correo"/>
      <small class="p-error block mb-3" *ngIf="hasValidControl('correo')">Correo no valido y campo correo obligatorio</small>

      <label for="password" class="block text-sm font-medium mt-3">Contraseña</label>
      <input pInputText id="password" type="password" class="w-full p-inputtext-sm" formControlName="clave"/>
      <small class="p-error block" *ngIf="hasValidControl('clave')">Campo clave obligatorio</small>

      <div class="flex align-items-center justify-content-between">
        <div class="flex align-items-center mt-3">
          <p-checkbox [binary]="true" inputId="binary" formControlName="terminos"></p-checkbox>
          <label for="binary" class="text-sm ml-1">Aceptar los </label><span class="text-sm ml-1 cursor-pointer text-blue-500 underline"> terminos y condiciones</span>
        </div>
      </div>
      <small class="p-error block mb-3" *ngIf="hasValidControl('terminos')">Debes aceptar los terminos y condiciones</small>

      <div class="w-full flex align-items-center justify-content-center">
        <button pButton class="mt-3"
          [disabled]= "formRegister.invalid"

          (click)="registerUser()">
          Registrar
        </button>
      </div>
    </div>
  </div>
</div>
